body
{
    margin:0;
    padding:0;
    background-color:#1f1e33;
}

h1,h2
{
    color:white;
    font-family:"微軟正黑體";
    text-align: center;
}

.lightblue
{
    color:lightblue
}

/*貓咪*/
.personal_face
{
    position: absolute;
    top:45px;
    left:730px;
}
/*貓咪*/

.navbar ul
{
    position:sticky;
    top:0px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li
{
    float:inline-end;
}

/*navigation bar*/
.navbar
{   
    width:100%;
    box-sizing: border-box;
    display:inline-block;
    padding:8px;
    background-color: #131321;
}

.navbar a
{
    position:sticky;
    top:0px;   
    text-decoration: none;
    color:rgb(255, 255, 255);
    text-align: center;
    margin: 0;
    padding:8px;
    padding-top:14px;
    padding-bottom:9px;
    font-size:30px;
}

.navbar a:hover
{

    transition:0.3s;
    color:lightblue;
}
/*navigation bar*/



/*連結按鈕*/
.code_button a
{
    display: inline-block;
    text-decoration: none;
    background-color: #3d965b;
    padding:12px;
    font-size: 16px;
    color:white;
    border-radius: 12px;
    text-align: center;
}

.code_button a:hover
{
    background-color: #317849;
}

.c_button
{
    position:absolute;
    left:850px;
    top:500px;
}

.python_button
{
    position:absolute;
    left:850px;
    top:780px;
}

.html_button
{
    position:absolute;
    left:850px;
    top:1100px;
}

.dc_button
{
    position:absolute;
    left:870px;
    top:1460px;
}
/*連結按鈕*/


/*程式logo圖片*/
.image
{
    position:absolute;
}

.c
{
    left:400px;
}

.python
{   
    left:450px;
    top:700px;
}

.html
{
    left:437px;
    top:1000px;
}

.dc
{
    left:480px;
    top:1400px;
}
/*程式logo圖片*/
